<ul class="breadcrumb">
    <li><a href="#springUrl("/")">Home</a> <span class="divider">/</span></li>
    <li><a href="#springUrl("/requirements")">Requirements</a> <span class="divider">/</span></li>
    <li class="active">$requirement.name</li>
</ul>

<form class="form-horizontal" method="post" action="#springUrl("/update_requirement")">
    <input type="hidden" name="id" value="$requirement.getId()" />
    <fieldset>
        <legend>Edit Requirement</legend>
        <div class="control-group">
            <label class="control-label" for="name">Requirement name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="Ex: Edutainment" value="$requirement.name" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea name="description" id="description">$requirement.description</textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Update Requirement</button>
            </div>
        </div>
    </fieldset>
</form>