body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.dropdown-menu form{
    padding: 3px 20px;
}

.dropdown-menu form a{
    text-decoration: none;
}

a.btn_fb a.btn_fb :hover{
    color:#ffffff;
}

.btn_fb{
    color: #ffffff;
    background-color: #3b5998;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#627aad), to(#3b5998));
    background-image: -moz-linear-gradient(top, #627aad, #3b5998);
    background-image: -ms-linear-gradient(top, #627aad, #3b5998);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
    background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
    background-image: -o-linear-gradient(top, #627aad, #3b5998);
    background-image: linear-gradient(top, #627aad, #3b5998);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627aad', endColorstr='#3b5998', GradientType=0);
    border-color: #3b5998 #3b5998 #263961;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    cursor: pointer;
    display: inline-block;
    padding: 5px 12px 6px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    border: 1px solid #666666;
    border-bottom-color: #999999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}