#set($layout = "layouts/simpleform_layout.vm")
<div class="container">
    <form class="form-signin" action="#springUrl("/login")" method="POST">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="text" class="input-block-level" name="email" placeholder="Email address">
        <input type="password" class="input-block-level" name="password" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
    </form>
</div>